<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254307902200-ddnkd8901t3hfdif605t2hj7sdtbmhi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254307902200-ddnkd8901t3hfdif605t2hj7sdtbmhi8</string>
	<key>API_KEY</key>
	<string>AIzaSyD0gx1DtQlw93_innqTOcqTAmVS2vAGhHg</string>
	<key>GCM_SENDER_ID</key>
	<string>254307902200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nbaapp</string>
	<key>PROJECT_ID</key>
	<string>nba-app-cf691</string>
	<key>STORAGE_BUCKET</key>
	<string>nba-app-cf691.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254307902200:ios:1c030230f3f6d27ebe510d</string>
</dict>
</plist>